.grid {
    gap: 40px;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    height: calc(100vh - 105px);
}

.list_wrap {
    padding-bottom: 50px;
    flex-basis: calc(80% - 20px);
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
    width: 100%;
}

.search_input {
    flex-grow: 1;
    flex-basis: calc(60% - 40px / 3);
    padding: 17px 25px;
    background-color: var(--graphite);
    color: var(--white);
    outline: none;
    font-size: 20px;
    line-height: 24px;
    border: 1px var(--white) solid;
    border-radius: 10px;
}

.benefit_button {
    flex-basis: calc(20% - 80px / 3);
    background-color: var(--mint);
    font-size: 16px;
    line-height: 24px;
    border-radius: 10px;
    color: var(--graphite);
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in-out;
}

.benefit_button:hover,
.benefit_button:active {
    background-color: transparent;
    border: 3px var(--mint) solid;
    color: var(--mint);
}

.search_input::placeholder {
    color: var(--white);
}

.filters {
    flex-basis: calc(20% - 20px);
    flex-direction: column;
    color: var(--white);
}

.filters_title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.filters_label {
    gap: 10px;
    padding: 5px 5px 5px 0;
    font-size: 17px;
    line-height: 26px;
    user-select: none;
    align-items: center;
}

.checkbox {
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid var(--mint);
}

.checkbox:checked {
    background-color: var(--mint);
}

.admin_mode {
    flex-basis: calc(20% - 40px / 3);
}

.admin_mode_text {
    color: var(--white);
    font-size: 20px;
    line-height: 24px;
}

.top {
    gap: 40px;
}

.benefits {
    gap: 40px;
    height: calc(100% - 100px);
}
