.benefit_container {
    display: grid;
    grid-template-columns: 30% auto;
    padding: 40px;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
    background-color: #1a4c5d40;
    border-radius: 20px;
    height: calc(100% - 45px)
}

.img {
    min-width: 10%;
}

.benefit_info {
    gap: 50px;
    flex-direction: column;
}

.title {
    font-size: 48px;
    color: var(--white);
    font-weight: bold;
}

.description {
    font-size: 32px;
    color: var(--white);
    font-family: 'LXGW WenKai Mono TC';
}

.table {
    color: var(--white);
    font-size: 20px;
    line-height: 24px;
}

.tr {
    text-align: left;
    flex-grow: 0;
    gap: 30px;
}

.th {
    flex-basis: 200px;
    flex-shrink: 0;
}

.tbody {
    flex-direction: column;
    gap: 10px;
}

.button {
    background-color: var(--mint);
    font-size: 20px;
    line-height: 24px;
    border-radius: 10px;
    color: var(--graphite);
    justify-content: center;
    align-items: center;
    transition: .1s ease-in-out;
    height: 60px;
    width: 200px;
}

.button:hover,
.button:active {
    background-color: transparent;
    border: 3px var(--mint) solid;
    color: var(--mint);
}

