:root {
    --graphite: #0b2027;
    --mint: #00c08b;
    --violet: #712181;
    --white: #f8f9fa;
    --yellow: #d8f69a;
    --light-vio: #dccfec;
    --dark-blue: #003b4c;
}

.flex {
    display: flex;
}

.container {
    width: 1440px;
}

body {
    background-color: var(--graphite);
}