.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 232px);
    grid-template-rows: repeat(auto-fill, 350px);
    gap: 40px;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
    width: 100%;
    padding: 25px 45px;
}